.gpio-pin-select--raspberry {
  width: 400px;
  height: 500px;
  background-color: #2A7061;
  position: relative;
  margin: 30px;
  border-radius: 10px;
  border: solid 3px #E1DA14;
}

.gpio-pin-select--pins {
  width: 150px;
  height: 455px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -40px;
  top: -25px;
  display: grid;
  grid-template-columns: 1fr 20px 20px 1fr;
  grid-template-rows: repeat(20, 18px);
  column-gap: 5px;
  row-gap: 5px;
  padding: 45px 10px;
  border-radius: 20px;
}

.gpio-pin-select--first-label {
  text-align: end;
}

.gpio-pin-select--second-label {
  text-align: start;
}

.gpio-pin-select--first-label, .gpio-pin-select--second-label {
  color: white;
}

.gpio-pin-select--first-label {
  grid-column-start: 1;
}

.gpio-pin-select--first-radio {
  grid-column-start: 2;
}

.gpio-pin-select--second-radio {
  grid-column-start: 3;
}

.gpio-pin-select--second-label {
  grid-column-start: 4;
}

.gpio-pin-select--radio input {
  display: none !important;
}

.gpio-pin-select--radio input + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  background-image: url('./radio.svg');
  background-size: 15px 15px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gpio-pin-select--radio input:checked + label span {
  background-image: url('./radio-checked.svg');
}